:root {
  --golden-clr: #d8b98f;
  --header-height: 55px;
}

.home__section1Wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(26, 26, 26);
  isolation: isolate;
}

.home__section1 {
  height: calc(100vh - var(--header-height));
  width: 90%;
  max-width: var(--max-width);
  position: relative;
}

.home__section1Wrapper::after {
  --gradient-start: 0;
  --gradient-end: 26;

  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(
    0deg,
    rgba(
      var(--gradient-start),
      var(--gradient-start),
      var(--gradient-start),
      255
    ),
    rgba(var(--gradient-end), var(--gradient-end), var(--gradient-end), 255)
  );
  z-index: -1;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  max-width: 100%;
  z-index: 1;
  object-fit: contain;
  animation: arrowDown 4s linear 0s infinite alternate;
}

.splide__arrow {
  background-color: transparent !important;
  opacity: 1 !important;
  border-radius: 0% !important;
  position: static !important;
  transform: none !important;
}

.splide__arrows {
  position: absolute;
  bottom: 5%;
  right: 0.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.splide {
  position: static !important;
}

.splide__arrows h1 {
  font-size: 50px;
  color: #615c58;
  line-height: 52px;
  color: var(--golden-clr);
  font-weight: 400;
}

.splide__pagination__page.is-active {
  background-color: var(--golden-clr) !important;
}

.splide__pagination {
  right: 80% !important;
  bottom: 5% !important;
  width: fit-content;
  padding-inline: 0;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -25px;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.section1__imgText {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(calc(-50% - 25px));
}

.img-wrapper img:nth-child(1) {
  width: 100%;
  max-height: 600px;
  max-width: 1000px;
  object-fit: contain;
}

@keyframes arrowDown {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.home__section2Wrapper {
  background: url("../../Assets/section2bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__section2Top {
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  width: 100%;
}

.home__section2TopContent {
  width: 90%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  padding-right: 4rem;
  gap: 4rem;
  object-fit: contain;
  padding-block: 158px;
}

.home__section2Left {
  width: 56%;
}

.home__heading {
  color: white;
  font-size: 32px;
  margin-bottom: 26px;
}

.home__subheading {
  color: var(--golden-clr);
  font-size: 24px;
  margin-bottom: 50px;
}

.home__para {
  color: white;
}

.home__section2 .home__para:first-of-type {
  margin-bottom: 40px;
}

.home__section2Right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__section2Right > img {
  width: 325px;
}

.home__section2ImagesWrapper {
  background-color: hsla(0, 0%, 0%, 0.8);
  display: flex;
  justify-content: center;
  width: 100%;
}

.home__section2Images {
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

.home__section2Image {
  width: 19%;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  height: clamp(1px, 20.3125vw, 325px);
}

.home__section2Image > img {
  width: 100%;
}

.home__section3 {
  height: calc(100vh - var(--header-height));
  position: relative;
  width: 100%;
}

.home__section3 > img {
  width: 100px;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__section3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__section4Wrapper {
  width: 100%;
  background-image: url("../../Assets/section4bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(20, 20, 20, 255);
  display: flex;
  justify-content: center;
}

.home__section4 {
  width: 90%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 158px;
}

.home__section4 > .home__subheading {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 48px;
}
.home__section4QuestionRight > .home__para {
  font-size: 16px;
}

.home__section4Questions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(611px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 0.6rem;
  margin-top: 1.5rem;
}

.home__section4Question {
  background-color: rgba(51, 51, 51, 255);
  display: flex;
  padding: 1rem 1.25rem;
  border-radius: 4px;
  height: auto;
  min-height: 150px;
}

.home__section4QuestionLeft {
  color: var(--golden-clr);
  font-size: 30px;
  padding-right: 2rem;
}

.home__section4QuestionRight {
  padding-left: 2rem;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home__section5Wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(26, 26, 26, 255);
}

.home__section5 {
  width: 90%;
  max-width: var(--max-width);
  padding-block: 158px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.home__section5 .home__heading {
  margin-bottom: 80px;
}

.home__section5Members {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0.6rem;
}

.home__section5Member:nth-of-type(1) {
  background-image: url("../../Assets/member1.png");
}

.home__section5Member:nth-of-type(2) {
  background-image: url("../../Assets/member2.png");
}

.home__section5Member:nth-of-type(3) {
  background-image: url("../../Assets/member3.png");
}

.home__section5Member:nth-of-type(4) {
  background-image: url("../../Assets/member4.png");
}

.home__section5Member:nth-of-type(5) {
  background-image: url("../../Assets/member5.png");
}

.home__section5Member:nth-of-type(6) {
  background-image: url("../../Assets/member6.png");
}

.home__section5Member {
  background-color: white;
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.home__section5MemberDetails {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 11%;
  text-align: center;
  padding-block: 8px;
}

.home__section5MemberDetails.gold {
  background-color: var(--golden-clr);
}

.home__section5MemberDetails:not(.gold) {
  background-color: rgba(26, 26, 26, 255);
}

.home__section5MemberName {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1;
}

.home__section5MemberInfo {
  color: var(--golden-clr);
  font-size: 22px;
}

.home__section5MemberDetails.gold .home__section5MemberInfo {
  color: black;
}

@media (max-width: 1080px) {
  .home__section5Members {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

@media (max-width: 840px) {
  .home__section4Questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  .home__section4Question {
    flex-direction: column;
    gap: 0.25rem;
    padding: 1.25rem 1.5rem;
    height: auto;
  }

  .home__section4QuestionLeft,
  .home__section4QuestionRight {
    padding: 0;
    border: none;
  }
  .home__section2Left {
    width: 90%;
  }

  .home__section2Right {
    width: 90%;
  }

  .home__section2Right > img {
    width: 100%;
    max-width: 300px;
  }

  .home__section2TopContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 0;
  }

  .home__section2Images {
    flex-direction: column;
    align-items: center;
  }

  .home__section2Image {
    width: 90%;
    max-width: 200px;
    height: auto;
  }
}

@media (max-width: 1220px) {
  .img-wrapper img:nth-child(1) {
    max-height: 300px;
    width: 80%;
  }
}

@media screen and (max-width: 930px) {
  .splide__arrows {
    right: 5% !important;
  }
  .splide__pagination {
    right: 90% !important;
    width: max-content;
  }
}
@media screen and (max-width: 500px) {
  .splide__arrows {
    gap: 20px;
  }
  .arrow-down {
    bottom: 15%;
  }
  .img-wrapper h1 {
    display: none;
  }
}
